.footer{
    padding-top: 13px;
    padding-bottom: 13px;
    display: block;
    background-color: $accent-color;
    border-top: 1px solid #FFFF;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    
        color: #FFFFFF;
}