.form{
    display: block;
    padding-top: 50px;
        background: #FFFFFF;
    @media screen and (min-width: 1200px){background-color: $accent-color;
        padding-top: 0;
        padding-bottom: 40px;
    }
    &_container{
        @media screen and (min-width: 1200px) {
display: flex;
            }

    }
    &_form{
        @media screen and (min-width: 1200px) {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
        }
    }
    &_wrapper{
        @media screen and (min-width: 1200px) {
        background-color: #FFFFFF;    
        padding: 15px 30px 30px 15px;
        border-radius: 8px;
        
        }    }
    &_title{
        font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            /* identical to box height, or 136% */
        margin-bottom: 20px;
        
            color: #1F2323;
    }
}



.wrapper_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -75px;
    position: relative;
    min-width: 335px;
    background: #FFFFFF;
    border-radius: 25px;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: 1200px) {
        width: 500px;
    }

    @media screen and (min-width: 1920px) {
        width: 683px;
    }
}

.form {

    width: 100%;

    &-text {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $accent-color;
        text-transform: uppercase;
        margin-bottom: 45px;
    }
&-label{
    @media screen and (min-width:1200px){
            margin-right: 5px;
    }
        @media screen and (min-width:1920px) {
            margin-right: 10px;
        }
}

    &-input {
        width: 100%;
        height: 60px;
        border: 1px solid #C5C4C4;
        border-radius: 5px;
        margin-bottom: 20px;
        @media screen and (min-width:1200px){
            margin-bottom: 0;
        }
        &-phone{
            @media screen and (min-width:1920px) {
                    width: 267px;
                }
        }
    }

    &-button {
        
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 17px 102px 17px 102px;
        background-color: $accent-color;
border-radius: 4px; 
color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

@media screen and (min-width:1200px) {
        margin-top: 0;
        padding: 20px 17px 20px 17px;
    }   }
}
.form_2{
    display: block;
            padding-bottom: 50px;
    @media screen and (min-width:1200px){
        
        background-color: $accent-color;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}