.money{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    position: relative;
    @media screen and (min-width: 1920px){
        height: 700px;
        
    }
   &_container{
    @media screen and (min-width: 1200px) {
        text-align: right;
        display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: end;
    }
   }
    &_title{
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
        
            color: #FE6613;
            margin-bottom: 20px;
            @media screen and (min-width: 1200px) {
                    width: 609px;
                    font-weight: 400;
                        font-size: 36px;
                        line-height: 44px;
                        text-align: right;
                        text-transform: uppercase;
                }
    }
    &_procent{
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
        
            color: #00CE3A;
            margin-bottom: 8px;
    }
    &_number{
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            /* identical to box height */
        
            text-transform: uppercase;
        
            color: #4A4A4A;
            margin-bottom: 20px;
    }
    &_kurs{
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #4A4A4A;
    }
    &_link{
        margin-top: 20px;
        display: inline-block;
        padding: 15px 44px 15px 44px;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
        
            text-transform: uppercase;
        background-color: $accent-color;
            color: #FFFFFF;
            border-radius: 5px;
    }
   
}
.money_img-desktop{
    display: none;
    @media screen and (min-width: 1200px) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            max-height: auto;
            max-width: 1557px;
            max-height: 700px;
            
        }
}
.money_img-mobile {
max-width: 500px;
@media screen and (min-width: 1200px){
    display: none;
}}
.accent{
    color: $accent-color
    
}